In [1]:
import pandas as pd

In [6]:
Customer_df=pd.read_excel('Power BI 3 DATA SETS.xlsx',sheet_name='CUSTOMER TABLE')
Order_df=pd.read_excel('Power BI 3 DATA SETS.xlsx',sheet_name='ORDER TABLE')
Purchase_df=pd.read_excel('Power BI 3 DATA SETS.xlsx',sheet_name='PURCHASE TABLE')

C:\Users\USER\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell E6 is marked as a date but the serial value 3296425.02 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\USER\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell E15 is marked as a date but the serial value 5997054.98 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\USER\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell F15 is marked as a date but the serial value 4509793.96 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\USER\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell E18 is marked as a date but the serial value 3039414.4 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\USER\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell E32 is marked as a date but the serial value 3786589.2 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\USER\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell E35 is marked as a date but the serial value 5513227.5 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\USER\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell F35 is marked as a date but the serial value 4145955 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\USER\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell E40 is marked as a date but the serial value 4368316.68 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\USER\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell F40 is marked as a date but the serial value 3521431.68 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\USER\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell E43 is marked as a date but the serial value 3162704.8 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\USER\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell E48 is marked as a date but the serial value 3876652.4 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\USER\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell E61 is marked as a date but the serial value 3154398 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\USER\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell E64 is marked as a date but the serial value 3593376.78 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\USER\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell E70 is marked as a date but the serial value 5396577.27 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\USER\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell F70 is marked as a date but the serial value 4350343.52 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\USER\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell E72 is marked as a date but the serial value 3262562.1 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\USER\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell E76 is marked as a date but the serial value 4324782.4 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\USER\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell E77 is marked as a date but the serial value 4647149.58 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\USER\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell F77 is marked as a date but the serial value 3494663.16 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\USER\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell E81 is marked as a date but the serial value 4220728.8 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\USER\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell E82 is marked as a date but the serial value 3015902.51 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\USER\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell E95 is marked as a date but the serial value 3458252 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\USER\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell E101 is marked as a date but the serial value 3586605.09 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():

In [9]:
Customer_df.head()

                              Region                Country   Order ID
0              Australia and Oceania                 Tuvalu  669165933
1  Central America and the Caribbean                Grenada  963881480
2                             Europe                 Russia  341417157
3                 Sub-Saharan Africa  Sao Tome and Principe  514321792
4                 Sub-Saharan Africa                 Rwanda  115456712

In [16]:
Customer_df['Region'].value_counts()

Region
Sub-Saharan Africa                   36
Europe                               22
Australia and Oceania                11
Asia                                 11
Middle East and North Africa         10
Central America and the Caribbean     7
North America                         3
Name: count, dtype: int64

In [17]:
Customer_df['Country'].value_counts()

Country
The Gambia               4
Sierra Leone             3
Sao Tome and Principe    3
Mexico                   3
Australia                3
                        ..
Comoros                  1
Iceland                  1
Macedonia                1
Mauritania               1
Mozambique               1
Name: count, Length: 76, dtype: int64

In [10]:
Order_df.head()

         Item Type Sales Channel Order Date   Order ID  Ship Date
0        Baby Food       Offline 2010-05-28  669165933 2010-06-27
1           Cereal        Online 2012-08-22  963881480 2012-09-15
2  Office Supplies       Offline 2014-05-02  341417157 2014-05-08
3           Fruits        Online 2014-06-20  514321792 2014-07-05
4  Office Supplies       Offline 2013-02-01  115456712 2013-02-06

In [13]:
Order_df['Item Type'].value_counts()

Item Type
Clothes            13
Cosmetics          13
Office Supplies    12
Fruits             10
Personal Care      10
Household           9
Beverages           8
Baby Food           7
Cereal              7
Vegetables          6
Snacks              3
Meat                2
Name: count, dtype: int64

In [14]:
Order_df['Sales Channel'].value_counts()

Sales Channel
Offline    50
Online     50
Name: count, dtype: int64

In [11]:
Purchase_df.head()

,Order ID,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,669165933,1927-03-04,1900-09-11 06:43:12,1900-06-07 10:04:48,8836-11-26 00:00:00,6232-01-12 12:00:00,4504-11-13 12:00:00
1,963881480,1907-09-04,1900-07-23 16:48:00,1900-04-26 02:38:24,3479-03-04 19:12:00,2799-01-22 10:33:36,2580-02-09 08:38:24
2,341417157,1904-11-13,1901-10-12 05:02:24,1901-06-07 23:02:24,5071-11-13 14:09:36,4456-12-07 20:09:36,2514-12-04 18:00:00
3,514321792,1922-03-07,1900-01-09 07:55:12,1900-01-06 22:04:48,2106-12-16 15:50:24,2053-06-30 20:09:36,1953-06-15 19:40:48
4,115456712,1913-11-09,1901-10-12 05:02:24,1901-06-07 23:02:24,NaN,9175-07-26 12:28:48,3649-09-23 12:00:00

In [12]:
Order_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Item Type      100 non-null    object
 1   Sales Channel  100 non-null    object
 2   Order Date     100 non-null    datetime64[ns]
 3   Order ID       100 non-null    int64
 4   Ship Date      100 non-null    datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(2)
memory usage: 4.0+ KB